:root {
  --cvSide: 400px;
  --controllerWidth: 400px;
}
html {
  background-color: #000000;
}
body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  color: white;
  font-family: monospace;
}
#container {
  position: relative;
  width: 100%;
  height: calc(var(--cvSide) * 2);
  /* display: flex;
  justify-content: center; */
}
#cv {
  border: 1px solid white;
  width: var(--cvSide);
  height: var(--cvSide);
}
#controller {
  width: 400px;
  padding: 10px;
  font-size: 15px;
}
.controllerTitle {
  width: 100%;
  display: flex;
}
.controllerTitle > button {
  border: 1px solid white;
  background-color: black;
  padding: 2%;
  margin: 2%;
}
#mazeControllerContent {
  display: none;
}
#ncp1ControllerContent {
  display: none;
}
#ncp2ControllerContent {
  display: none;
}
button {
  padding: 10px;
  color: white;
  font-family: monospace;
}
select {
  background-color: black;
  color: white;
}
button.newMaze {
  width: 100%;
  font-size: 30px;
  background-color: green;
  border: none;
}
button.startStop { background-color: blue; }
button.restart { background-color: red; }
button.tracing { background-color: #505050; }